mixin applicationTabs(items)
    .application__tabs
        .application__tabs-wrapper
            each item, index in items
                div(class=`application__tabs-btn ${index === 0 ?  'application__tabs-btn-active' : ''}`)=item.name
        .application__tabs-content
            each item, index in items
                div(class=`${index === 0 ? 'application__tabs-item-active' : ''} application__tabs-item`)
                    form(class=`${item.modal ?  'application__tabs-modal-wrapper' : 'application__tabs-item-wrapper'}`, id="application-form")
                        .application__tabs-input
                            input(type="text" id='name-input' placeholder=`${item.drawer ? item.drawer.placeholder1 : item.modal.placeholder1}`) 
                            span#name-input-error.error-message
                        .application__tabs-input
                            input(type="text" id='phone-input' placeholder=`${item.drawer ? item.drawer.placeholder2 : item.modal.placeholder2}`)
                            span#phone-input-error.error-message
                        if item.modal
                            +button('Оставить заявку', 'filled')  
