include ../footer/footerMenu
include ../footer/footerSchedule
include ../footer/footerContact

- 
    const firstCardsItems = [
        {name:'Покупки', color: '#30733E', href: '/purchases.html'},
        {name:'Родителям и детям', color: '#A91F4C', href: '/parents.html'},
        {name:'Для развлечений', color: '#EA711A', href: '/activity.html'},
        {name:'Для бизнеса', color: '#738992', href: '/business.html'},
        {name:'Для спорта', color: '#993333', href: '/sport.html'},
        {name:'Гостям Казани', color: '#125A67', href: '/guests.html'}
    ]

mixin burgerCards  
    .burger__menu-cards
        each card in firstCardsItems 
            a.burger__menu-card(href=card.href style=`border: 1px solid ${card.color}; --hover-background: ${card.color}`)
                p.burger__menu-text(style=`--hover-color : ${card.color}`)= card.name

mixin decorBlock
    .decor
        svg(width="112" height="112" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg" class='decor__triangle')
            path(fill-rule="evenodd" clip-rule="evenodd" d="M64 64V0H0V1.58502C13.866 6.06967 25.578 12.3519 37.1246 22.6462C50.4547 36.1395 57.3648 48.9377 62.0229 64H64Z" fill="#3A3943")
        .decor__square


mixin burgerMenu(isVisible)
    .burger(class=isVisible ? 'burger__visible' : '')
        .burger__menu
            .burger__menu-wrapper 
                +burgerCards
                +footerMenu('burger__footer-menu')
                +decorBlock
                +footerSchedule('burger__footer-schedule')
                +footerContact('burger__footer-contact')
