include ./_roller

- 
    const cardItems = [
        {
            name: 'Покупки', 
            color: '#30733E', 
            img: `<path fill-rule="evenodd" clip-rule="evenodd" d="M34.0458 12.4226H15.394L15.3711 6.27407L19.4286 2.34263L29.8287 2.23978L34.0686 6.68549L34.0458 12.4226ZM13.394 5.8855V12.4226H6.76562V47.0855H41.6339V12.4226H35.8968V5.8855L30.697 0.491211H19.3599H18.5943L13.394 5.8855ZM27.5313 31.0283H14.9487V44.434H27.5313V31.0283ZM35.4853 38.4226H29.9083V44.3654H35.4853V38.4226Z" fill="currentColor"/>`,
            href: '/purchases.html'
        },
        {
            name:'Родителям и детям', 
            color: '#A91F4C', 
            img: `<path fill-rule="evenodd" clip-rule="evenodd" d="M17.5431 2.82031L14.7588 4.42737L14.8619 4.6059L10.1919 7.18915L4.92334 10.2251L6.81033 15.7172L10.1919 15.5247V38.6345L11.1964 38.88L16.663 31.881H32.156L36.87 38.5341L37.8413 38.0764V18.643L40.4584 15.7061H43.067H45.9357V13.2503H43.067H39.9079H39.3574L38.9911 13.6613L36.3831 16.588H34.7601H27.5381H20.0149L20.0175 15.2053H30.9668V13.24H20.0212L20.0232 12.1591H30.9668V10.1938H19.8164L19.1954 9.40771H30.9668V7.44238H17.6426L16.9708 6.592L19.033 5.4017L17.5431 2.82031ZM33.5239 42.3293H14.8311L1.96754 34.86L0.734375 36.9838L13.8839 44.6191L14.1698 44.7852H14.5005H33.8571H34.1904L34.4779 44.6167L47.0137 37.2716L45.7722 35.1527L33.5239 42.3293Z" fill="currentColor"/>`,
            href: '/parents.html'
        },
        {
            name:'Для развлечений', 
            color: '#EA711A', 
            img: `<path fill-rule="evenodd" clip-rule="evenodd" d="M22.6274 1.45117H24.6588V4.74418H36.9724H38.7583V6.53012V31.8027V33.5886H36.9724H30.1834L34.1259 46.359L32.3288 46.7831L30.458 40.6325H16.9636L15.0928 46.7831L13.2729 46.359L15.4837 39.1979V39.0809H15.5199L17.2155 33.5886H10.3152H8.5293V31.8027V6.53012V4.74418H10.3152H22.6274V1.45117ZM28.3155 33.5886H19.1061L17.4355 39.0809H29.986L28.3155 33.5886ZM23.0184 17.7599H31.4907V26.4669H23.0184V17.7599Z" fill="currentColor"/>`,
            href: '/activity.html'
        },
        {
            name:'Для бизнеса', 
            color: '#738992', 
            img: `<path d="M38.8563 1.22266H44.1476V6.58266H38.8563V1.22266ZM46.5019 29.3941C44.3762 29.4398 35.5416 29.4512 33.5873 29.4512C31.6102 29.4512 29.1193 29.4284 26.9478 29.3941L26.3764 30.377L36.7648 47.5998L38.0332 47.5884L38.5477 46.5713L29.416 31.4284C31.0046 31.4513 32.3416 31.4627 33.5873 31.4627C35.2559 31.4627 44.1134 31.4398 46.5019 31.3941V29.3941ZM47.0963 8.41124L35.2447 8.54837L46.4221 25.417H46.685L47.0963 8.41124ZM10.1588 8.53697H26.2045V22.1598H10.1588V8.53697ZM21.3474 29.4512L31.6448 46.6741L31.0388 47.6112H29.7246L19.5075 30.4227L20.0332 29.4741L21.3474 29.4512ZM0.501953 23.8627H31.6677V25.8741H17.7134L4.9361 45.6341H23.5421V47.6455H2.82171L1.90764 46.537L15.2676 25.8741H0.513114V23.8627H0.501953Z" fill="currentColor"/>`
        },
        {
            name: 'Для спорта', 
            color: '#993333', 
            img: `<path fill-rule="evenodd" clip-rule="evenodd" d="M10.5929 34.1355H5.40234V46.8611H18.1278V34.1355H12.9372V14.0425H18.1278V1.31689H5.40234V14.0425H10.5929V34.1355ZM35.4645 34.1355H30.2739V46.8611H42.9994V34.1355H37.8088V14.0425H42.9994V1.31689H30.2739V14.0425H35.4645V34.1355Z" fill="currentColor"/>` 
        },
        {
            name: 'Услуги', 
            color: '#195734', 
            img: `<path fill-rule="evenodd" clip-rule="evenodd" d="M16.299 1.31689H31.2233L31.9934 3.77269H15.5845L16.299 1.31689ZM10.8968 23.4081H37.5534L38.3689 26.0537H38.3634L40.5233 33.0415L40.5228 33.0424V43.2334H40.5216V46.8499H35.186V43.2334H13.2301V46.8499H7.894V43.2334V40.0964V33.2954L7.88281 33.2762L7.894 33.24V33.0417H7.95539L10.1192 26.0537H10.1158L10.8968 23.4081ZM12.8993 26.0537L10.7403 33.0417H37.7408L35.5839 26.0537H12.8993ZM27.0456 6.52726L24.8463 19.0073L28.8039 19.7047L31.0032 7.22469L27.0456 6.52726ZM20.1701 19.0073L22.3694 6.52726L26.327 7.2247L24.1277 19.7047L20.1701 19.0073ZM17.7702 6.52558L15.56 19.0056L19.517 19.7064L21.7273 7.22637L17.7702 6.52558Z" fill="currentColor"/>` 
        },
        {
            name: 'Гостям Казани', 
            color: '#125A67', 
            img: `<path fill-rule="evenodd" clip-rule="evenodd" d="M44.3598 2.20997H2.93487V28.2193H6.22435L6.21724 11.2853H13.4247L13.4277 11.2521L17.1226 11.2853H17.9273L17.9262 11.2925L24.6019 11.3525L16.2384 22.4964L15.3763 28.2193H44.3598V2.20997ZM15.0736 30.2286H46.3695V0.200684H1.93032H0.925781V30.2286H6.22519L6.22803 36.9848V47.4193H8.3821V38.556H9.09733H11.6528V47.4193H13.8074V38.556H13.8192L15.0736 30.2286ZM26.7554 11.2967L39.392 11.252V13.2502L26.7554 13.2948V11.2967ZM26.7554 15.4045L39.392 15.3598V17.3691L26.7554 17.4026V15.4045ZM39.392 19.423L26.7554 19.4565V21.4658L39.392 21.4212V19.423ZM8.81787 4.72174H13.6847V9.71151H8.81787V4.72174Z" fill="currentColor"/>` 
        },
        {
            name: 'SPAR', 
            color: '#157946', 
            img: `<path fill-rule="evenodd" clip-rule="evenodd" d="M38.3096 36.6609C36.0063 38.6732 33.5215 40.7896 30.3216 40.1285C29.4916 39.9428 28.7299 39.5291 28.1224 38.9339C27.5148 38.3388 27.0855 37.5857 26.8828 36.7597C26.5073 35.2793 26.6007 33.8599 26.7894 32.3309L39.7775 32.3058L39.4253 31.8494C32.8711 23.8992 27.668 14.9249 24.1896 5.4708C20.449 15.0452 15.2009 24.5029 8.95212 32.3561L21.6815 32.3309C21.606 34.0809 22.0031 36.2189 21.2179 37.7209C20.4256 39.3703 18.5679 40.1878 16.8503 40.2237C11.7172 39.7314 8.3035 35.087 6.35052 30.6942C4.07774 25.2934 4.91501 17.8822 8.48678 13.2683C13.4581 6.47694 22.2349 3.73522 30.4151 6.3368C35.4008 7.94661 39.8386 11.9406 42.0269 17.0234C44.6213 23.3207 43.0887 31.7416 38.3096 36.6609ZM45.6508 13.3653C43.7391 9.91755 40.9274 6.67098 37.7526 4.60301C30.6199 -0.258761 20.0303 -0.643247 12.576 3.44955C4.93657 7.48846 -0.334854 15.9346 0.218519 25.1083C0.687448 34.9415 7.65312 43.508 16.6634 46.1922C26.2288 49.3094 37.0483 45.9874 43.2343 38.3947C48.5668 31.6967 49.9161 21.1557 45.6508 13.3653Z" fill="currentColor"/>` 
        },
        {
            name: 'DDX', 
            color: '#322857', 
            img: `<path fill-rule="evenodd" clip-rule="evenodd" d="M14.1731 2H33.8333C35.9618 2 37.6841 3.72225 37.6841 5.85079C37.6841 15.0912 32.6971 20.391 24.0032 20.391C15.3092 20.391 10.3223 15.0912 10.3223 5.85079C10.3223 3.72225 12.0445 2 14.1731 2ZM30.6908 7.00135H17.2688C16.1865 7.00135 15.3955 7.9973 15.6077 9.05438C16.4634 13.3115 19.2319 15.3933 24.0032 15.3933C27.1996 15.3933 31.3021 14.6634 32.4023 9.06157C32.6108 7.99011 31.7767 7.00135 30.6908 7.00135ZM2.49888 2.0072C3.87955 2.0072 4.99775 3.1254 4.99775 4.50608V8.99327C4.99775 15.5371 6.88539 20.5816 10.6067 23.9901C13.8479 26.9558 18.3717 28.5521 23.7051 28.6088C23.804 28.6074 23.9035 28.6067 24.0033 28.6067C24.1059 28.6067 24.208 28.6074 24.3096 28.6089C40.563 28.4563 43.0022 16.2749 43.0022 8.99327V4.50967C43.0022 3.129 44.1204 2.0108 45.5011 2.0108C46.8818 2.0108 48 3.129 48 4.50967V8.99327C48 17.7663 45.2818 24.3784 39.9209 28.6427C37.9717 30.1939 35.8526 31.2818 33.7321 32.035C36.3048 34.5171 37.6843 38.287 37.6843 43.1469V43.431C37.6843 44.7289 36.6236 45.7896 35.3256 45.7896C33.873 45.7896 32.6829 44.5995 32.6829 43.1469C32.6829 34.8223 27.9902 33.6628 24.3052 33.6067C24.2013 33.6076 24.0983 33.6081 23.9964 33.6081C23.9039 33.6081 23.8116 33.6077 23.7195 33.6069C18.0686 33.7073 15.3202 36.8302 15.3202 43.1469V43.431C15.3202 44.7289 14.2595 45.7896 12.9615 45.7896C11.509 45.7896 10.3188 44.5995 10.3188 43.1469C10.3208 38.2473 11.7237 34.4557 14.3375 31.9745C11.6533 30.979 9.25998 29.5377 7.22697 27.6755C2.50247 23.3429 0 16.8818 0 8.99327V4.50967C0 3.129 1.1182 2.0072 2.49888 2.0072Z" fill="currentColor"/>` 
        },
        {
            name: 'Унистрой', 
            color: '#374B4B', 
            img: `<path fill-rule="evenodd" clip-rule="evenodd" d="M8.5 10.705L22.313 0V26.5899L8.5 37.295V10.705ZM26.1113 21.4101L39.9243 10.705V37.2949L26.1113 48V21.4101Z" fill="currentColor"/>`
        }
    ]

mixin card
    .main__grid-cards 
        each card in cardItems
            a.main__grid-card(href=card.href, style=`border: 1px solid ${card.color}; --hover-background: ${card.color}; `)
                .main__grid-text(style=`--hover-color: ${card.color};`)
                    .main__grid-img
                        svg(width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg") 
                            !=card.img
                    p.main__grid-paragraph= card.name    
                    +roller(card.name)
                .main__grid-arrow
                    svg(width="24" height="24" viewBox="0 0 24 24" fill="currentColor" style=`--hover-icon: ${card.color}`)
                        path(d="M14.4556 18.2996L2 17.9791L2.10449 22L19.2971 22L19.318 21.9789L19.8962 21.3937L20.4883 20.8013L20.8018 20.4947L21.3939 19.9023L21.9721 19.317L21.993 19.2963L22 2.10446L17.9805 2L18.3079 15.0314L18.3218 15.4006L6.21456 3.28926L3.28875 6.20906L15.4239 18.3554L14.4556 18.2996Z")
