mixin eventSlider(images, cls='')
    div(class=`${cls}-slider-card` data-seo-container)
        div(class=`swiper ${cls}-slider`)
            div(class=`swiper-wrapper ${cls}-slider-wrapper`)
                each slide in images
                    div(class=`swiper-slide ${cls}-slider-slide`)
                        div(class=`${cls}-slider-box`)
                            img(src=`/src/images/${slide.img}.png`, alt='Slider Image')
                            div(class=`${cls}-slider-text`)
                                a(href="/event-detail.html" class=`${cls}-slider-heading` data-seo-target)=slide.name
                                p(class=`${cls}-slider-date`)=slide.date

    div(class=`swiper-navigation ${cls}-slider-navigation`)
        button(class=`event-slider-button-prev swiper-button-prev`) 
            svg(width="16", height="12", viewBox="0 0 16 12", fill="none", xmlns="http://www.w3.org/2000/svg")
                   path(fill-rule="evenodd", clip-rule="evenodd", d="M16 6.82171H3.19201L8.40154 11.9721L6.06755 12L0 6.00132L6.07023 0H8.43244L3.19201 5.18094H16V6.82171Z", fill="#3A3943")
                    path(d="M6.06755 12L8.40154 11.9721L3.19201 6.82171H16V5.18094H3.19201L8.43244 0H6.07023L0 6.00132L6.06755 12Z", fill="#3A3943")
        .about-slider-nav Листай
        button(class=`event-slider-button-next swiper-button-next`) 
            svg(width="16", height="12", viewBox="0 0 16 12", fill="none", xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd", clip-rule="evenodd", d="M16 6.82171H3.19201L8.40154 11.9721L6.06755 12L0 6.00132L6.07023 0H8.43244L3.19201 5.18094H16V6.82171Z", fill="#3A3943")
                    path(d="M6.06755 12L8.40154 11.9721L3.19201 6.82171H16V5.18094H3.19201L8.43244 0H6.07023L0 6.00132L6.06755 12Z", fill="#3A3943")
